/.idea/workspace.xml
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
#######/.idea/**
/bin/
/out/
/output/
*/bin/**
*/build/**
*/target/**

/.gradle
/buildSrc/**

/doc/

#######/COMP*/
/target/**

/.clj-kondo/
/.lsp/.cache/
/.cpcache/
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/vcs.xml
